/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Livvic', Arial, Helvetica, sans-serif;
    background-color: lightblue;
    color: white;
}

.col-2 {
    padding: 2rem;
    background-color: lightcoral;
    border: 1px solid black;
}

.col-12 {
    padding: 2rem;
    background-color: lightcoral;
    border: 1px solid black;
}