/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Palette
c1121f Rosso 
780000 Bordeaux
f2e8cf White
a7c957 Green
6a994e dark-green 1
386641 dark-green 2 */

/* COMMON */
body {
    font-family: 'Livvic', Arial, Helvetica, sans-serif;
    background-color: #6a994e;
    color: #f2e8cf;
}

header {
    font-family: "Mountains of Christmas", Arial, Helvetica, sans-serif;
}

/* HEADER */
header h1 {
    color: #f2e8cf;
}

/* BOXS */
.box {
    background-color: #780000;
}

#icon {
    max-height: 80px;
}

.specialBox {
    background-color: #c1121f;
}

/* MODAL */
.modal-content{
    background-color: #c1121f;
}

.btn-primary {
    background-color: #6a994e;
    border-color: #6a994e!important;
}

.btn-primary:hover {
    background-color: #386641;
    border-color: #386641!important;
}

